@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

body{
  background-image: url("./viksite.jpeg"), radial-gradient(white, #808080 80%, #383838);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: center;
    /* box-shadow: 0 0 10px 10px white inset; */
   radial-gradient(#D0D0D0, #606060);

}


.header{
  font-family: 'Alegreya Sans SC', sans-serif;
  padding-left: 10%;
  color: #383838;
  display: grid;
  grid-template-columns: 2;
  position: fixed;
}

.name{
  font-size: 70px;
  grid-column-start: 1;
}

.name.dim{
  opacity: .02;
}

.name:hover{
  color: #787878;
}

.menu{
  list-style-type: none;
  overflow: hidden;
  grid-column-start: 2;
  justify-self: right;
  padding-right: 8rem;
  padding-left: 35rem;
}

.menu.dim{
  opacity: 0;
}
li {
    float: left;
}

li .a {
    display: block;
    color: #696969;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li .a:hover{
  color: white;
}


/* Vault overlay  */

.gallery-container{
  /* background: rgba(255,255,255, .98); */
  /* background: linear-gradient(rgba(9, 2, 4, 0), #444); */
  background: #888;
  background: linear-gradient(to left, #888 , #d1d5d6);
  width: 100%;
  z-index: 10;
  display: none;

}

.gallery-container.open{
  display: grid;
  animation: fadeIn .5s;
}
.back{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 25px;
  text-align: right;
  padding-right: 10rem;
  padding-top: 5rem;
  right: 0;
  position: fixed;
}

.back:hover{
  color: #787878;
}
.gallery {
  display: grid;
  grid-template-columns: (repeat, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  width: 50%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-left: 22rem;
  margin-bottom: 10rem;
  margin-top: 8rem;

  border-right-style:ridge;
  border-left-style:ridge;
  border-radius: 10px;
  background-color: #f0f5f5;

}

.item{
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.item img{
  grid-column: 1 / -1;
  grid-row: 1/ -1;
  width: 100%;
  height: 100%;
  /* trim the item right or left to fit perfectly inside of it */
  object-fit: cover;
  }

  /* This is for the popup image  */
    .item__overlay{
      /* We want to put this on top so use the same col and row
      And use position relative?? */
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      /* This includes the opacity  */
      background: #ffc60032;
      position: relative;
      padding: 10px;
      display: grid;
      justify-items: center;
      align-items: center;

      /* Making it slide out of its item  */

      transform: translateY(100%);
      transition: 0.2s;
    }

    /* When the item is hovered, the overlay will show  */
    .item:hover .item__overlay{
      transform: translateY(0);
    }

    /* This is for the view button  */
    .item__overlay button{
      background: none;
      border: 2px solid white;
      color: white;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
    }
    /* Any item with vertical span 2 we give it a span 2 for their row  */
    .item.v2{
      grid-row: span 2;
    }

    .item.v3{
      grid-row: span 3;
    }

    .item.v4{
      grid-row: span 4;
    }

    .item.h2{
      grid-column: span 2;
    }

    .item.h3{
      grid-column: span 3;
    }

    .item.h4{
      grid-column: span 4;
    }

    .overlay {
      position: fixed;
      background: rgba(0, 0, 0, 0.7);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      z-index: 2;
    }

    .overlay.open {
      display: grid;
      align-items: center;
      justify-items: center;
    }


    .overlay-inner {
      background: #ffc6003;
      width: 710px;
      padding: 20px;
      padding-left: 11px;
      bottom: 10rem;
    }

    .overlay img {
      width: 100%;
      height: 50%;
    }

    /* footer */
    .footer{
      background-color: black;
      font-family: 'Alegreya Sans SC', sans-serif;
      color: white;
      font-size: 10px;
      bottom: 0;
      width: 83.4%;
      text-align: center;
      position: fixed;
      padding-top: 1rem;
      padding-bottom: 1rem;
      left: 7.5rem;
      z-index:12;
    }

    .footer.dim{
      opacity: .05;
    }

    /* Music section  */

    .music-container{
      background: #888;
      background: linear-gradient(to left, #888 , #d1d5d6);
      width: 100%;
      z-index: 10;
      display: none;
    }

    .musica{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 50%;
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      margin-left: 22rem;
      position:relative;
    }

    .slide{
      position: relative;
      overflow:hidden;
      height:100vh;
    }

    .dos {
      background-color: #808080;
    }

    .uno .pin-wrapper{
      width: 100%;
      height: 100%;
    }

    .dos .pin-wrapper{
      transform: translateY(-100%);
    }
    .scrollmagic-pin-spacer {
        overflow: hidden;
        position: absolute !important;
        clip: rect(auto, auto, auto, auto);
    }
    .dos .pin-wrapper{
      width: 100%;
      height: 100%;
    }


    .music-container.open{
      display:block;
      animation: fadeIn .5s;

    }
    @-webkit-keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }
    @keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }

    .music-back{
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 25px;
      text-align: right;
      padding-right: 10rem;
      padding-top: 5rem;
      right: 0;
      position: fixed;
      z-index: 12;
    }
    .music-back:hover{
      color: #787878;
    }

    .description{
      margin-top: 300px;
      align-self: center;
      font-family: 'Alegreya Sans SC', sans-serif;
      grid-column-start: 2;
      position:relative;
      text-align: center;
    }

    .mus{
      position:absolute;
    }

    .music-card{
      margin: 160px auto;
      background: #fff;
      box-shadow: 9px 7px 37px -6px rgba(0,0,0,0.75);
      overflow: hidden;
      width: 300px;
      height: 400px;
      position: relative;
    }

    .image{
      background: url('images/sketch1.jpeg') no-repeat 75%;
      background-size: cover;
      position: absolute;
      z-index: 1;
      opacity: 0.9;
      height: 300px;
      width: 300px;
    }
    /* The blur after the ikmage  */
    .image:after {
      height: 100px;
      content: '';
      top: 200px;
      position: absolute;
      width: 100%;
      z-index: 1;
      background: linear-gradient(rgba(9, 2, 4, 0), #444);
    }

    .wave {
      position: absolute;
      height: 750px;
      width: 750px;
      opacity: 0.2;
      left: 0;
      top: 0;
      margin-left: -70%;
      margin-top: -130%;
      background: radial-gradient(#353535, #383737);

      border-radius: 40%;
      animation: wave 55s infinite linear;
    }

    .wave:nth-child(2),
    .wave:nth-child(3) {
      top: 10px;
    }

    @keyframes wave {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .info {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      text-align: center;
    }

    .title {
      font-size: 1.4em;
      font-weight: 400;
      color: #333;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-family: 'Reem Kufi', sans-serif;
    }

    .artist {
      color: #cfcfcf;
      font-size: 1.2em;
      letter-spacing: 0.08em;
      font-family: 'Reem Kufi', sans-serif;
    }

    h10{
      font-size: 30px;
    }
    .fa {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 18px;
      cursor: pointer;
      color: #555;
    }
    .twistedpause {
      display: none;
    }

    .betterpause{
      display: none;
    }

    .playing .wave {
      border-radius: 40%;
      animation: wave 3000ms infinite linear;
    }
    /* when stop */


    .playing .wave:nth-child(2) {
      animation-duration: 4000ms;
    }
    /* when stop */
    .wave:nth-child(2) {
      animation-duration: 50s;
    }

    .playing .wave:nth-child(3) {
      animation-duration: 5000ms;
    }
    /* when stop */
    .wave:nth-child(3) {
      animation-duration: 45s;
    }
